.contactMe {
    width: 100%;
    height: 100vh;
    padding-top: 3.5rem;
    background: linear-gradient(90deg, var(--color2-light), var(--color1-light));
    color: var(--text-color-light);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.contactMe h1 {
    width: 100%;
    height: fit-content;
    text-align: center;
}

.contactMeContainer {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

.contactMeContainer a {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    color: var(--text-color-light);
    transition: .3s;
}

.contactMeContainer a i {
    font-size: 2.5rem;
}

.contactMeContainer a:hover {
    transform: scale(1.1);
    transition: .3s;
}

/* Tema claro */
[data-theme="light"] .contactMe {
    background: linear-gradient(90deg, var(--color2-light), var(--color1-light));
}

[data-theme="light"] .contactMe h1 {
    color: var(--text-color-light);
}

[data-theme="light"] .contactMeContainer a {
    color: var(--text-color-light);
}

/* Tema oscuro */
[data-theme="dark"] .contactMe {
    background: linear-gradient(90deg, var(--color1-dark), var(--color2-dark));
}

[data-theme="dark"] .contactMe h1 {
    color: var(--text-color-dark);
}

[data-theme="dark"] .contactMeContainer a {
    color: var(--text-color-dark);
}

/* Media query para modo oscuro del sistema */
@media (prefers-color-scheme: dark) {
    .contactMe {
        background: linear-gradient(90deg, var(--color1-dark), var(--color2-dark));
    }

    .contactMe h1 {
        color: var(--text-color-dark);
    }

    .contactMeContainer a {
        color: var(--text-color-dark);
    }
}

@media screen and (min-width: 800px) {
    .contactMe h1 {
        text-align: left;
        padding-left: 12rem;
    }

    .contactMe {
        height: 50vh;
    }

    .contactMeContainer {
        flex-direction: row;
        justify-content: space-evenly;
    }
}
