.nav_menu_offcanvas {
    color: var(--text-color-light);
    background-color: var(--color3-light);
}

.nav_menu_offcanvas button > img {
    filter: invert(0);
}

.img_link_offcanvas {
    filter: invert(0) !important;
}

[data-theme="light"] {
    .nav_menu_offcanvas {
        color: var(--text-color-light);
        background-color: var(--color3-light);
    }

    .nav_menu_offcanvas button > img {
        filter: invert(0);
    }

    .img_link_offcanvas {
        filter: invert(0) !important;
    }
}

[data-theme="dark"] {
    .nav_menu_offcanvas {
        color: var(--text-color-dark);
        background-color: var(--color3-dark);
    }

    .nav_menu_offcanvas button > img {
        filter: invert(1);
    }

    .img_link_offcanvas {
        filter: invert(1) !important;
    }
}

@media (prefers-color-scheme: dark) {
	.nav_menu_offcanvas {
        color: var(--text-color-dark);
        background-color: var(--color3-dark);
    }

    .nav_menu_offcanvas button > img {
        filter: invert(1);
    }

    .img_link_offcanvas {
        filter: invert(1) !important;
    }
}