.aboutme {
    width: 100%;
    height: 100vh;
    padding-top: 56px;
    display: grid;
    place-items: center;
    background: linear-gradient(90deg, var(--color2-light), var(--color1-light));
    text-align: center;
    color: var(--text-color-light);
}

.contenedor {
    display: flex;
    align-items: center;
    flex-direction: column-reverse;
    gap: 1rem;
}

.informacion {
    margin: 0;
    width: calc(100% - 1.5rem);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.titleSeccion {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: end;
}

.foto {
    width: calc(100% - 1.5rem);
    max-width: 450px;
    height: fit-content;
    padding: 0;
    display: grid;
    place-items: center;
    background-color: var(--color3-op55-light);
    border-top-right-radius: 5rem;
    border-bottom-left-radius: 5rem;
    overflow: hidden;
}

.foto img {
    width: 100%;
    height: auto;
}

/* Media query para modo oscuro del sistema */
@media (prefers-color-scheme: dark) {
    .aboutme {
        background: linear-gradient(90deg, var(--color1-dark), var(--color2-dark));
        color: var(--text-color-dark);
    }

    .foto {
        background-color: var(--color3-op55-dark);
    }
}

/* Tema claro */
[data-theme="light"] .aboutme {
    background: linear-gradient(90deg, var(--color2-light), var(--color1-light));
    color: var(--text-color-light);
}

[data-theme="light"] .foto {
    background-color: var(--color3-op55-light);
}

/* Tema oscuro */
[data-theme="dark"] .aboutme {
    background: linear-gradient(90deg, var(--color1-dark), var(--color2-dark));
    color: var(--text-color-dark);
}

[data-theme="dark"] .foto {
    background-color: var(--color3-op55-dark);
}

@media screen and (min-width: 800px) {
    .aboutme {
        text-align: left;
    }
    
    .contenedor {
        display: grid;
        place-items: center;
        grid-template-columns: 1fr 1fr;
        max-width: 1024px;
    }

    .foto {
        border-bottom-left-radius: 0;
    }

    .informacion {
        font-size: 1.5rem;
    }
}
